.container_y {
  margin-top: 64px;
}

.redStar {
  color: red;
}

.text_rate {
  font-size: x-large;
  font-weight: 700;
}

.font {
  font-weight: 700;
  font-size: 16px;
}

.text1,
.text2 {
  font-size: 16px;
}
/* Surface Dou */
@media screen and (max-width: 540px) {
  .text1,
  .text2,
  .font {
    font-size: 13px;
  }
}

@media screen and (max-width: 430px) {
  .redStar {
    font-size: 0.7rem;
  }
  .container_y .fz_430 {
    font-size: 13px;
  }
}
@media screen and (max-width: 390px) {
  .text1,
  .text2,
  .font {
    font-size: 10px;
  }

  .container_y .fz_430 {
    font-size: 11px;
  }
  .icon_star {
    text-align: center;
  }
}

@media screen and (max-width: 280px) {
  .text1,
  .text2,
  .font {
    font-size: 6px;
  }
  .container_y .fz_430 {
    font-size: 3px;
  }
}
