.cinemaSystemContainer {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.cinemaSystemContainer.active {
}

.cinemaLogo {
  cursor: pointer;
}

.cinemaDetails {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-230%);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.cinemaSystemContainer.active .cinemaDetails {
  opacity: 1;
  visibility: visible;
}

.cinemaDetails h3 {
  color: white;
  margin-bottom: 10px;
  font-weight: 700;
}

.cinemaDetails button {
  background-color: rgb(17 24 39);
  color: #32ffab;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}

.cinemaDetails button:hover {
  background-color: beige;
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
  .cinemaDetails {
    transform: translateX(-190%);
  }
}

/* iPad Air */
@media screen and (max-width: 1024px) {
  .cinemaDetails {
    transform: translateX(-190%);
  }
}

@media screen and (max-width: 956px) {
  .cinemaDetails {
    transform: translateX(-130%);
  }
}

/* Surface Pro 7 */
@media screen and (max-width: 912px) {
  .cinemaDetails {
    transform: translateX(-130%);
  }
}

/* Surface Dou */
@media screen and (max-width: 540px) {
  .cinemaDetails {
    transform: translateX(-100%);
    font-size: 15px;
  }
}

/* IPhone 14 Pro max */
@media screen and (max-width: 430px) {
  .cinemaDetails {
    transform: translateX(-70%);
  }
}

@media screen and (max-width: 375px) {
  .cinemaDetails {
    font-size: 12px;
  }
}

/* Galaxy Fold */
@media screen and (max-width: 280px) {
  .cinemaDetails {
    font-size: 6px;
  }
}
