.cinemaSystemContainer {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.cinemaSystemContainer.active {
  transform: translateY(-100%);
}

.cinemaLogo {
  cursor: pointer;
}

.cinemaDetails {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-230%);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.cinemaSystemContainer.active .cinemaDetails {
  opacity: 1;
  visibility: visible;
}

.cinemaDetails h3 {
  color: #108f3e;
  margin-bottom: 10px;
  font-weight: 700;
}

.cinemaDetails button {
  background-color: #fff;
  color: #32ffab;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}

.cinemaDetails button:hover {
  background-color: beige;
}
