body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom swiper css */
.swiper-pagination-bullet {
  background-color: #e8e6e3 !important;
}

.swiper-pagination-bullet-active {
  background-color: #32ffab !important;
}

.swiper-scrollbar-horizontal {
  background-color: #0f1829 !important;
}

.swiper-scrollbar-drag {
  background-color: #32ffab !important;


}